source/basket.jade
- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content				
				h1.heading-big.heading-big--marg1
					|Корзина
				
				.basket
					ul.product_list.product_list--catalog
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Agricola San Felice Brunello di Montalcino Riserva DOCG Il Quercione Campogiovanni 2006
										.product-item__btn-count
											a.product-item__btn.c-minus(href="" title="")
											input.product-item__count(type="number" value="1"  min="" max="" step="")
											a.product-item__btn.plus.c-plus(href="" title="")
										.product-item__price
											|1 000 609 <i class="rubl">a</i>
						
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Бенриах Харт оф Спейсайд
										.product-item__btn-count
											a.product-item__btn.c-minus(href="" title="")
											input.product-item__count(type="number" value="16" min="" max="" step="")
											a.product-item__btn.plus.c-plus(href="" title="")
										.product-item__price
											|3 609 <i class="rubl">a</i>
											
											
					.promo
						.promo__heading= "Номер карты клиента"
						form(method="" action="")
							input.input(type="text" placeholder="PROMO")
							input.input-btn(type="submit" value="Применить")
					.basket__total
						|Сумма заказа: 
						|3 609	<i class="rubl">a</i>
						br
						|Скидка: 1%: 
						|(30 <i class="rubl">a</i>)
				.tabs.tabs--simple.c-tabs
					.tabs__head.clearfix
						a.tabs__link.left.c-tabs-link(href="" title="")
							span= "Вход"
							
						a.tabs__link.right.c-tabs-link.active(href="" title="")
							span= "Без регистрации"
							
					.tabs__content
						.tabs__item.c-tabs-content
							form.form(method="" action="")
								.form__element
									label.form__label.form__label--block= "Email"
									input.form__input(type="email"  data-validation="email")
									
								.form__element
									label.form__label.form__label--block= "Пароль"
									input.form__input(type="password" data-validation="required")
									
								.form__element
									a.blue-link(href="" title="")= "Забыли пароль"
								.form__element.form__element--botom
									input.input-btn.input-btn--login(type="submit" value="Войти")
									span.form__social= "или"
									a.sprite.a21.form__social(href="" title="")
									a.sprite.a22.form__social(href="" title="")
									a.sprite.a23.form__social(href="" title="")
									a.sprite.a24.form__social(href="" title="")
						.tabs__item.c-tabs-content.active
							form.form.form--reg(method="" action="")
								.form__element.form__text
									Сотрудник колл-центра перезвонит вам для уточнения всех данных
								
								.form__heading.form__element									
									.check__wrap
										input#age18.check__input(type="checkbox" value="age" name="age" checked data-validation="required")
										label.check__label.check__label--square(for="age18")= 'Мне больше 18 лет'
									
								.form__element
									label.form__label.form__label--block= "Фамилия"
									input.form__input(type="text" data-validation="required")
									
								.form__element
									label.form__label.form__label--block= "Имя"
									input.form__input(type="text" data-validation="required")									
								
								.form__element
									label.form__label.form__label--block= "Контактный тедефон"
									span.form__number= "+7"
									input.form__input.form__input--phone-part1(type="text" data-validation="length number required" data-validation-length="3")
									input.form__input.form__input--phone-part2(type="text" data-validation="length number required" data-validation-length="8")
								
								.form__element.form__element--center
									.check__wrap.check__wrap--basket
										input#yes.check__input(type="checkbox" value="termsUse" name="termsUse" checked data-validation="required")
										label.check__label.check__label--square(for="yes")
											|Принимаю
											a.black-link(href="" title="")= "пользовательсоке соглашение"
								.form__heading.form__element
									|Способы оплаты
								
								.form__element
									.check__wrap.clearfix
										input#payment1.check__input(type="radio" value="payment1" name="payment" checked)
										label.check__label.check__label--circle(for="payment1")
											span.check__img.check__img--pad1.left
												img(src="images/content/money.png" alt="")
											span.check__text.left
												span.check__title= "наличные"
												span.check__descr= "Оплата наличными при получении"
												
									.check__wrap.clearfix
										input#payment2.check__input(type="radio" value="payment2" name="payment" checked)
										label.check__label.check__label--circle(for="payment2")
											span.check__img.check__img--pad2.left
												img(src="images/content/rubl.png" alt="")
											span.check__text.left
												span.check__title= "Безналичный расчет"
												span.check__descr= "100% предоплата на банковский счет"

									.check__wrap.clearfix
										input#payment3.check__input(type="radio" value="payment3" name="payment" checked)
										label.check__label.check__label--circle(for="payment3")
											span.check__img.check__img--pad3.left
												img(src="images/content/visa.png" alt="")
											span.check__text.left
												span.check__title= "Банковская карта"
												span.check__descr= "Оплата банковской картой"

									.check__wrap.clearfix
										input#payment4.check__input(type="radio" value="payment4" name="payment" checked)
										label.check__label.check__label--circle(for="payment4")
											span.check__img.check__img--pad2.left
												img(src="images/content/wm.png" alt="")
											span.check__text.left
												span.check__title= "WebMoney R"
												span.check__descr= "100% предоплата на электронный счет"

									.check__wrap.clearfix
										input#payment5.check__input(type="radio" value="payment5" name="payment" checked)
										label.check__label.check__label--circle(for="payment5")
											span.check__img.check__img--pad1.left
												img(src="images/content/yam.png" alt="")
											span.check__text.left
												span.check__title= "Яндекс.Деньги"
												span.check__descr= "100% предоплата на электронный счет"
								.form__element.form__element--marg
									label.form__label.form__label--block= "Комментарий"
									input.form__textarea(type="text")
									
								.form__element.form__element--center
									input.input-btn.input-btn--reg(type="submit" value="Оформить заказ")
									
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade

static/basket.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>Alcodream</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
  </head>
  <body><!-- BEGIN pagewrap -->
    <div class="pagewrap"><!-- BEGIN header -->
      <header class="header clearfix">
        <div class="container">
          <div class="header__top"><a href="" title="" class="header__logo sprite a1"></a><span class="header__tel sprite a6 c-tel"></span><a href="" title="" class="header__menu c-popup-open"><span class="header__menu-icon sprite a5">		</span></a></div>
          <div class="header__bottom">
            <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-search"><span class="sprite a4"></span></a></div>
            <div class="header__time c-hidden-tel">+7 (495) 662-58-95
              <div class="working-hours">10:00 - 20:00</div>
            </div>
          </div>
          <div class="header__search c-hidden-search">
            <form method="" action="">
              <input type="text" placeholder="Например: Сутил" class="input">
            </form>
          </div>
        </div>
      </header><!-- END header --><!-- BEGIN content -->
      <div class="content">				
        <h1 class="heading-big heading-big--marg1">Корзина</h1>
        <div class="basket">
          <ul class="product_list product_list--catalog">
            <li>
              <div class="product-item product-item--wide">
                <div class="product-item__info clearfix">
                  <div class="product-item__img left"><img src="images/content/img1.jpg" alt=""></div>
                  <div class="product-item__descr left">
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text">Agricola San Felice Brunello di Montalcino Riserva DOCG Il Quercione Campogiovanni 2006</div>
                    <div class="product-item__btn-count"><a href="" title="" class="product-item__btn c-minus"></a>
                      <input type="number" value="1" min="" max="" step="" class="product-item__count"><a href="" title="" class="product-item__btn plus c-plus"></a>
                    </div>
                    <div class="product-item__price">1 000 609 <i class="rubl">a</i></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="product-item product-item--wide">
                <div class="product-item__info clearfix">
                  <div class="product-item__img left"><img src="images/content/img1.jpg" alt=""></div>
                  <div class="product-item__descr left">
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text">Бенриах Харт оф Спейсайд</div>
                    <div class="product-item__btn-count"><a href="" title="" class="product-item__btn c-minus"></a>
                      <input type="number" value="16" min="" max="" step="" class="product-item__count"><a href="" title="" class="product-item__btn plus c-plus"></a>
                    </div>
                    <div class="product-item__price">3 609 <i class="rubl">a</i></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="promo">
            <div class="promo__heading">Номер карты клиента</div>
            <form method="" action="">
              <input type="text" placeholder="PROMO" class="input">
              <input type="submit" value="Применить" class="input-btn">
            </form>
          </div>
          <div class="basket__total">
            Сумма заказа: 
            3 609	<i class="rubl">a</i><br>Скидка: 1%: 
            (30 <i class="rubl">a</i>)
          </div>
        </div>
        <div class="tabs tabs--simple c-tabs">
          <div class="tabs__head clearfix"><a href="" title="" class="tabs__link left c-tabs-link"><span>Вход</span></a><a href="" title="" class="tabs__link right c-tabs-link active"><span>Без регистрации</span></a></div>
          <div class="tabs__content">
            <div class="tabs__item c-tabs-content">
              <form method="" action="" class="form">
                <div class="form__element">
                  <label class="form__label form__label--block">Email</label>
                  <input type="email" data-validation="email" class="form__input">
                </div>
                <div class="form__element">
                  <label class="form__label form__label--block">Пароль</label>
                  <input type="password" data-validation="required" class="form__input">
                </div>
                <div class="form__element"><a href="" title="" class="blue-link">Забыли пароль</a></div>
                <div class="form__element form__element--botom">
                  <input type="submit" value="Войти" class="input-btn input-btn--login"><span class="form__social">или</span><a href="" title="" class="sprite a21 form__social"></a><a href="" title="" class="sprite a22 form__social"></a><a href="" title="" class="sprite a23 form__social"></a><a href="" title="" class="sprite a24 form__social"></a>
                </div>
              </form>
            </div>
            <div class="tabs__item c-tabs-content active">
              <form method="" action="" class="form form--reg">
                <div class="form__element form__text">Сотрудник колл-центра перезвонит вам для уточнения всех данных</div>
                <div class="form__heading form__element">									
                  <div class="check__wrap">
                    <input id="age18" type="checkbox" value="age" name="age" checked data-validation="required" class="check__input">
                    <label for="age18" class="check__label check__label--square">Мне больше 18 лет</label>
                  </div>
                </div>
                <div class="form__element">
                  <label class="form__label form__label--block">Фамилия</label>
                  <input type="text" data-validation="required" class="form__input">
                </div>
                <div class="form__element">
                  <label class="form__label form__label--block">Имя</label>
                  <input type="text" data-validation="required" class="form__input">
                </div>
                <div class="form__element">
                  <label class="form__label form__label--block">Контактный тедефон</label><span class="form__number">+7</span>
                  <input type="text" data-validation="length number required" data-validation-length="3" class="form__input form__input--phone-part1">
                  <input type="text" data-validation="length number required" data-validation-length="8" class="form__input form__input--phone-part2">
                </div>
                <div class="form__element form__element--center">
                  <div class="check__wrap check__wrap--basket">
                    <input id="yes" type="checkbox" value="termsUse" name="termsUse" checked data-validation="required" class="check__input">
                    <label for="yes" class="check__label check__label--square">Принимаю<a href="" title="" class="black-link">пользовательсоке соглашение</a></label>
                  </div>
                </div>
                <div class="form__heading form__element">Способы оплаты</div>
                <div class="form__element">
                  <div class="check__wrap clearfix">
                    <input id="payment1" type="radio" value="payment1" name="payment" checked class="check__input">
                    <label for="payment1" class="check__label check__label--circle"><span class="check__img check__img--pad1 left"><img src="images/content/money.png" alt=""></span><span class="check__text left"><span class="check__title">наличные</span><span class="check__descr">Оплата наличными при получении</span></span></label>
                  </div>
                  <div class="check__wrap clearfix">
                    <input id="payment2" type="radio" value="payment2" name="payment" checked class="check__input">
                    <label for="payment2" class="check__label check__label--circle"><span class="check__img check__img--pad2 left"><img src="images/content/rubl.png" alt=""></span><span class="check__text left"><span class="check__title">Безналичный расчет</span><span class="check__descr">100% предоплата на банковский счет</span></span></label>
                  </div>
                  <div class="check__wrap clearfix">
                    <input id="payment3" type="radio" value="payment3" name="payment" checked class="check__input">
                    <label for="payment3" class="check__label check__label--circle"><span class="check__img check__img--pad3 left"><img src="images/content/visa.png" alt=""></span><span class="check__text left"><span class="check__title">Банковская карта</span><span class="check__descr">Оплата банковской картой</span></span></label>
                  </div>
                  <div class="check__wrap clearfix">
                    <input id="payment4" type="radio" value="payment4" name="payment" checked class="check__input">
                    <label for="payment4" class="check__label check__label--circle"><span class="check__img check__img--pad2 left"><img src="images/content/wm.png" alt=""></span><span class="check__text left"><span class="check__title">WebMoney R</span><span class="check__descr">100% предоплата на электронный счет</span></span></label>
                  </div>
                  <div class="check__wrap clearfix">
                    <input id="payment5" type="radio" value="payment5" name="payment" checked class="check__input">
                    <label for="payment5" class="check__label check__label--circle"><span class="check__img check__img--pad1 left"><img src="images/content/yam.png" alt=""></span><span class="check__text left"><span class="check__title">Яндекс.Деньги</span><span class="check__descr">100% предоплата на электронный счет</span></span></label>
                  </div>
                </div>
                <div class="form__element form__element--marg">
                  <label class="form__label form__label--block">Комментарий</label>
                  <input type="text" class="form__textarea">
                </div>
                <div class="form__element form__element--center">
                  <input type="submit" value="Оформить заказ" class="input-btn input-btn--reg">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- END content -->
    </div><!-- END pagewrap -->	
    <div class="clear"></div><!-- BEGIN footer -->
    <footer class="footer c-hidden">
      <div class="footer__contacts">
        <div class="footer__tel"><span class="sprite a10"></span><span>+7 (495) 662-58-95</span></div>
        <div class="footer__mail"><a href="" title="">sales@alcodream.ru</a></div>
        <div class="social"><a href="" title="" class="social__item social__item--vk">
            <div class="sprite a11"></div></a><a href="" title="" class="social__item social__item--fb">
            <div class="sprite a15"></div></a></div><a href="" title="" class="bordered-link">Полная версия</a>
      </div>
      <div class="footer__bottom">
        2016
        ©
        Alcodream.ru- Магазин элитного алкоголя 
      </div>
    </footer>
    <div class="preloader c-preloader"></div><!-- BEGIN popup-->
    <div id="popup">
      <div class="header__bottom">
        <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-tel"><span class="sprite a6"></span></a><a class="header__menu header__menu--close c-popup-close"><span class="header__menu-icon sprite a14"></span></a></div>
        <div class="header__time c-hidden-tel">+7 (495) 662-58-95
          <div class="working-hours">10:00 - 20:00		</div>
        </div>
      </div>
      <nav class="navigation">
        <div class="navigation__levels c-popup-levels">
          <div class="navigation__level1">				
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Виски</a><span data-type="popup-whiskey" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Коньяк</a><span data-type="popup-cognac" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Шампаское</a><span data-type="popup-champagne" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Вино</a><span data-type="popup-wine" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Крепкие напитки</a><span data-type="popup-strong" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Другие напитки</a><span data-type="popup-other" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Аксессуары</a><span data-type="popup-accessories" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
          </div>
          <div class="navigation__level2 c-popup-bl-level2">
            <div class="navigation__link navigation__link--back c-popup-to-level1"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Виски</div>
              <div data-type="popup-whiskey-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-excerpt" class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-region" class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-type" class="navigation__link navigation__link--main c-popup-level2">Тип<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-price" class="navigation__link navigation__link--main c-popup-level2">Цена<span class="navigation__open-icon">
                  span.sprite.a7
                  </span></div>
            </div>
            <div id="popup-cognac" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Коньяк</div>
              <div data-type="popup-cognac-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-champagne" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Шампанское</div>
              <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-wine" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Вино</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-strong" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Крепкие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-other" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Другие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-accessories" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Аксессуары</div>
            </div>
          </div>
          <div class="navigation__level3 c-popup-bl-level3">
            <div class="navigation__link navigation__link--back c-popup-to-level2"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
            <div id="popup-whiskey-excerpt" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Выдержка</div><a href="" title="" class="navigation__link navigation__link--small">Выдержка1</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка2</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка3</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка4</a>
            </div>
            <div id="popup-whiskey-region" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Регион</div><a href="" title="" class="navigation__link navigation__link--small">1</a><a href="" title="" class="navigation__link navigation__link--small">2</a><a href="" title="" class="navigation__link navigation__link--small">3</a>
            </div>
            <div id="popup-whiskey-type" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Тип</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-whiskey-price" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Цена</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-cognac-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
          </div>
        </div><a href="" title="" class="navigation__link">Акции</a><a href="" title="" class="navigation__link">О магазине</a><a href="" title="" class="navigation__link">Условия работы</a><a href="" title="" class="navigation__link">Контакты</a>
      </nav>
    </div><!-- END popup-->
    <script src="./js/plugins.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/catalog.js"></script>
  </body>
</html>
