static/catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>Alcodream</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
  </head>
  <body><!-- BEGIN pagewrap -->
    <div class="pagewrap"><!-- BEGIN header -->
      <header class="header clearfix">
        <div class="container">
          <div class="header__top"><a href="" title="" class="header__logo sprite a1"></a><span class="header__tel sprite a6 c-tel"></span><a href="" title="" class="header__menu c-popup-open"><span class="header__menu-icon sprite a5">		</span></a></div>
          <div class="header__bottom">
            <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-search"><span class="sprite a4"></span></a></div>
            <div class="header__time c-hidden-tel">+7 (495) 662-58-95
              <div class="working-hours">10:00 - 20:00</div>
            </div>
          </div>
          <div class="header__search c-hidden-search">
            <form method="" action="">
              <input type="text" placeholder="Например: Сутил" class="input">
            </form>
          </div>
        </div>
      </header><!-- END header --><!-- BEGIN content -->
      <div class="content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="" title="" class="breadcrumbs__link">Главная</a><span class="breadcrumbs__delimiter">/</span></li>
          <li class="breadcrumbs__item"><a href="" title="" class="breadcrumbs__link">Виски</a><span class="breadcrumbs__delimiter">/</span></li>
          <li class="breadcrumbs__item">
            					
            Макаллан
          </li>
        </ul>
        <h1 class="heading-big">Макаллан
          <div class="heading-big__subtitle">Magallan</div>
        </h1>
        <div class="c-content-catalog-wrap">
          <div class="tabs c-tabs">
            <div class="tabs__head clearfix c-fixed"><a href="" title="" class="tabs__link left c-tabs-link c-filter-catalog"><span class="filter-text">Фильтр</span><span class="filter-icon right sprite a16"></span></a>
              <div href="" title="" class="tabs__link left c-tabs-link"><span class="sort-text">Сортировка</span><span class="sort-icon right sprite a17"></span></div>
            </div>
            <div class="tabs__content">
              <div class="tabs__item filter c-tabs-content c-filter-wrapper">
                <div class="filter__category clearfix c-fixed"><!--Бренды--><a href="#brands" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a34"></span></a><!--Цена-->	<a href="#price" title="" class="filter__category-item left c-category filter__category-item--pad1"><span class="sprite a36"></span></a><!--Регион-->	<a href="#region" title="" class="filter__category-item filter__category-item--pad3 c-category"><span class="sprite a39"></span></a><!--Объём-->	<a href="#amount" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a35"></span></a><!--Выдержка-->	<a href="#excerpt" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a33"></span></a><!--Тип(виски)--><a href="#type-whisky" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a37"></span></a><!--Тип (вино)--><a href="#type-cognac" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a40"></span></a><!--Класс(коньяк)--><a href="#class-cognac" title="" class="filter__category-item filter__category-item--pad2 c-category"><span class="sprite a41"></span></a><!--Популярные категории--><a href="#popular" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a42"></span></a><!--Цвет--><a href="#color" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a43"></span></a><!--Содержание сахара--><a href="#sugar" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a44"></span></a><!--Тип напитка--><a href="#type-drink" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a45"></span></a></div>
                <form id="filter-catalog" method="" action="ajax/catalog.html" data-url="ajax/filter.html" class="form form--filter c-filter">
                  <div class="accordion c-accordion">
                    <div class="accordion__item"><a href="" title="" name="brands" class="accordion__link c-accordion-link">Бренды
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_brands_id" class="accordion__dropdown clearfix c-accordion-drop c-filter-block c-filter-section">
                        <ul>
                          <li class="filter__element level-1">
                            <input id="brands1" type="checkbox" value="brands1" name="brands" class="check__input check__filter-field">
                            <label for="brands1" class="check__label">Аберлауэр<span> (21)</span></label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="brands2" type="checkbox" value="brands2" name="brands" class="check__input check__filter-field">
                            <label for="brands2" class="check__label">Аберфелди</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="brands3" type="checkbox" value="brands3" name="brands" class="check__input check__filter-field">
                            <label for="brands3" class="check__label">Айл оф Джура</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="brands4" type="checkbox" value="brands4" name="brands" class="check__input check__filter-field">
                            <label for="brands4" class="check__label">Антиквари</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="brands5" type="checkbox" value="brands5" name="brands" class="check__input check__filter-field">
                            <label for="brands5" class="check__label">Ардбег</label>
                          </li>
                          <li class="filter__element level-1 hidden c-filter-hidden">
                            <input id="brands6" type="checkbox" value="brands6" name="brands" class="check__input check__filter-field">
                            <label for="brands6" class="check__label">Скрытый 1</label>
                          </li>
                          <li class="filter__element level-1 hidden c-filter-hidden">
                            <input id="brands7" type="checkbox" value="brands7" name="brands" class="check__input check__filter-field">
                            <label for="brands7" class="check__label">Скрытый 2</label>
                          </li>
                          <li class="filter__element"><a href="" title="" class="filter__add-link c-filter-add"><span class="plus">+</span><span class="minus">-</span>Ещё</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item"><a href="" title="" name="price" class="accordion__link c-accordion-link">Цена
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_price_id" class="accordion__dropdown accordion__dropdown--price clearfix c-accordion-drop c-filter-block c-filter-section">
                        <ul>
                          <li class="filter__element level-1">
                            <input id="price1" type="checkbox" value="price1" name="price" data-from="0" data-to="100000" class="check__input check__filter-range">
                            <label for="price1" class="check__label">Любая цена</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="price2" type="checkbox" value="price2" name="price" data-from="0" data-to="1000" class="check__input check__filter-range">
                            <label for="price2" class="check__label">до 1000</label>
                          </li>
                        </ul>
                        <div class="filter__input-wrap clearfix">
                          <input id="minPrice" type="text" class="filter__input c-minPrice left">
                          <hr class="filter__input-del left">
                          <input id="maxPrice" type="text" class="filter__input c-maxPrice right">
                        </div>
                        <div id="price-slider" data-min="0" data-max="1000" data-min-limit="0.00" data-max-limit="1000" class="range"></div>
                      </div>
                    </div>
                    <div class="accordion__item"><a href="" title="" name="region" class="accordion__link c-accordion-link">Регион
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_region_id" class="accordion__dropdown clearfix c-accordion-drop c-filter-block c-filter-section">
                        <ul>
                          <li class="filter__element level-1">
                            <input id="region1" type="checkbox" value="region1" name="region" class="check__input check__filter-field">
                            <label for="region1" class="check__label">Шотландия<span> (21)</span></label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="region2" type="checkbox" value="region2" name="region" class="check__input check__filter-field">
                            <label for="region2" class="check__label">Ирландия</label>
                          </li>
                          <li class="filter__element level-1"><a href="" title="" data-expand-id="" class="filter__sub-expand">[+]</a>
                            <input id="region3" type="checkbox" value="region3" name="region" class="check__input check__filter-field check__filter-field-parent">
                            <label for="region3" class="check__label">США</label>
                            <ul>												
                              <li class="filter__element level-2 hidden">
                                <input id="region6" type="checkbox" value="region6" name="region" class="check__input check__filter-field">
                                <label for="region6" class="check__label">Кентуки</label>
                              </li>
                              <li class="filter__element level-2 hidden">
                                <input id="region7" type="checkbox" value="region7" name="region" class="check__input check__filter-field">
                                <label for="region7" class="check__label"> Не Кентуки</label>
                              </li>
                            </ul>
                          </li>
                          <li class="filter__element level-1">
                            <input id="region4" type="checkbox" value="region4" name="region" class="check__input check__filter-field">
                            <label for="region4" class="check__label">Япония</label>
                          </li>
                          <li class="filter__element level-1 hidden c-filter-hidden">
                            <input id="region5" type="checkbox" value="region5" name="region5" class="check__input check__filter-field">
                            <label for="region5" class="check__label">Скрытый регион</label>
                          </li>
                          <li class="filter__element"><a href="" title="" class="filter__add-link c-filter-add"><span class="plus">+</span><span class="minus">-</span>Ещё</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item"><a href="" title="" name="amount" class="accordion__link c-accordion-link">Объём
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_amount_id" class="accordion__dropdown clearfix c-accordion-drop c-filter-block c-filter-section">
                        <ul>
                          <li class="filter__element level-1">
                            <input id="amount1" type="checkbox" value="amount1" name="amount" class="check__input check__filter-field check__filter-any-field">
                            <label for="amount1" class="check__label">Любой объём</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="amount2" type="checkbox" value="amount2" name="amount" class="check__input check__filter-field">
                            <label for="amount2" class="check__label">1</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="amount3" type="checkbox" value="amount3" name="amount" class="check__input check__filter-field">
                            <label for="amount3" class="check__label">4.5</label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item"><a href="" title="" name="excerpt" class="accordion__link c-accordion-link">Выдержка
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_excerpt_id" class="accordion__dropdown clearfix c-accordion-drop c-filter-block c-filter-section"></div>
                    </div>
                  </div>
                  <div data-filter-name="iblock_packaging_id" class="filter__min-block filter__min-block--left c-filter-section">
                    <div class="check__wrap">
                      <input id="yes" type="checkbox" value="yes" name="packaging" class="check__input check__filter-field">
                      <label for="yes" class="check__label check__label--square">Подарочная упаковка</label>
                    </div>
                  </div>
                  <div data-filter-name="iblock_shop_id" class="filter__min-block filter__min-block--right c-filter-section">
                    <div class="check__wrap">
                      <input id="y" type="checkbox" value="y" name="shop" class="check__input check__filter-field">
                      <label for="y" class="check__label check__label--square">В магазине</label>
                    </div>
                  </div>
                  <div class="filter__btn-wrap c-fixed">
                    <input type="submit" value="Применить" class="filter__btn">
                    <input type="reset" value="Очистить" class="filter__btn filter__btn--grey">
                  </div>
                </form>
              </div>
              <div class="tabs__item c-tabs-content">
                <form method="" action="" class="form form--sort">
                  <label class="form__label">Сортировать</label>
                  <button type="button" class="btn-sort right c-sort-btn"></button>
                  <select class="c-select">
                    <option>Цена</option>
                    <option>Страна</option>
                    <option>Бренд</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
          <ul class="product_list product_list--catalog c-hidden">
            <li>
              <div class="product-item product-item--wide">
                <div class="product-item__info clearfix">
                  <div class="product-item__img left"><img src="images/content/img1.jpg" alt=""></div>
                  <div class="product-item__descr left">
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text">Agricola San Felice Brunello di Montalcino Riserva DOCG Il Quercione Campogiovanni 2006</div>
                    <div class="product-item__price">1 000 609 <i class="rubl">a</i>
                      <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                    </div><a href="" title="" class="input-btn added">В корзине</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="product-item product-item--wide">
                <div class="product-item__info clearfix">
                  <div class="product-item__action">%</div>
                  <div class="product-item__img left"><img src="images/content/img1.jpg" alt=""></div>
                  <div class="product-item__descr left">
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text">Адз. Агр. и Стефанини ди Тессари Франческо и Луиза</div>
                    <div class="product-item__price">3609 <i class="rubl">a</i>
                      <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                    </div><a href="" title="" class="input-btn">В корзину</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="product-item product-item--wide">
                <div class="product-item__info clearfix">
                  <div class="product-item__img left"><img src="images/content/img1.jpg" alt=""></div>
                  <div class="product-item__descr left">
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text">Торрес Сангре де Торо Каталонияа 2013 Красное сухое + Торрес Винья Соль Каталония 2014 Белое сухое</div>
                    <div class="product-item__price">3609 <i class="rubl">a</i>
                      <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                    </div><a href="" title="" class="input-btn">В корзину</a>
                  </div>
                </div>
              </div>
            </li><span class="input-btn input-btn--big">Показать еще</span>
          </ul>
        </div>
      </div><!-- END content -->
    </div><!-- END pagewrap -->	
    <div class="clear"></div><!-- BEGIN footer -->
    <footer class="footer c-hidden">
      <div class="footer__contacts">
        <div class="footer__tel"><span class="sprite a10"></span><span>+7 (495) 662-58-95</span></div>
        <div class="footer__mail"><a href="" title="">sales@alcodream.ru</a></div>
        <div class="social"><a href="" title="" class="social__item social__item--vk">
            <div class="sprite a11"></div></a><a href="" title="" class="social__item social__item--fb">
            <div class="sprite a15"></div></a></div><a href="" title="" class="bordered-link">Полная версия</a>
      </div>
      <div class="footer__bottom">
        2016
        ©
        Alcodream.ru- Магазин элитного алкоголя 
      </div>
    </footer>
    <div class="preloader c-preloader"></div><!-- BEGIN popup-->
    <div id="popup">
      <div class="header__bottom">
        <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-tel"><span class="sprite a6"></span></a><a class="header__menu header__menu--close c-popup-close"><span class="header__menu-icon sprite a14"></span></a></div>
        <div class="header__time c-hidden-tel">+7 (495) 662-58-95
          <div class="working-hours">10:00 - 20:00		</div>
        </div>
      </div>
      <nav class="navigation">
        <div class="navigation__levels c-popup-levels">
          <div class="navigation__level1">				
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Виски</a><span data-type="popup-whiskey" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Коньяк</a><span data-type="popup-cognac" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Шампаское</a><span data-type="popup-champagne" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Вино</a><span data-type="popup-wine" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Крепкие напитки</a><span data-type="popup-strong" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Другие напитки</a><span data-type="popup-other" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Аксессуары</a><span data-type="popup-accessories" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
          </div>
          <div class="navigation__level2 c-popup-bl-level2">
            <div class="navigation__link navigation__link--back c-popup-to-level1"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Виски</div>
              <div data-type="popup-whiskey-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-excerpt" class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-region" class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-type" class="navigation__link navigation__link--main c-popup-level2">Тип<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-price" class="navigation__link navigation__link--main c-popup-level2">Цена<span class="navigation__open-icon">
                  span.sprite.a7
                  </span></div>
            </div>
            <div id="popup-cognac" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Коньяк</div>
              <div data-type="popup-cognac-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-champagne" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Шампанское</div>
              <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-wine" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Вино</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-strong" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Крепкие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-other" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Другие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-accessories" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Аксессуары</div>
            </div>
          </div>
          <div class="navigation__level3 c-popup-bl-level3">
            <div class="navigation__link navigation__link--back c-popup-to-level2"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
            <div id="popup-whiskey-excerpt" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Выдержка</div><a href="" title="" class="navigation__link navigation__link--small">Выдержка1</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка2</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка3</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка4</a>
            </div>
            <div id="popup-whiskey-region" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Регион</div><a href="" title="" class="navigation__link navigation__link--small">1</a><a href="" title="" class="navigation__link navigation__link--small">2</a><a href="" title="" class="navigation__link navigation__link--small">3</a>
            </div>
            <div id="popup-whiskey-type" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Тип</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-whiskey-price" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Цена</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-cognac-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
          </div>
        </div><a href="" title="" class="navigation__link">Акции</a><a href="" title="" class="navigation__link">О магазине</a><a href="" title="" class="navigation__link">Условия работы</a><a href="" title="" class="navigation__link">Контакты</a>
      </nav>
    </div><!-- END popup-->
    <script src="./js/plugins.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/catalog.js"></script>
  </body>
</html>

source/catalog.jade
- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Виски"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item					
						| Макаллан
				
				h1.heading-big
					|Макаллан
					.heading-big__subtitle= "Magallan"
				.c-content-catalog-wrap
					.tabs.c-tabs
						.tabs__head.clearfix.c-fixed
							a.tabs__link.left.c-tabs-link.c-filter-catalog(href="" title="")
								span.filter-text= "Фильтр"
								span.filter-icon.right.sprite.a16
							.tabs__link.left.c-tabs-link(href="" title="")
								span.sort-text= "Сортировка"
								span.sort-icon.right.sprite.a17
						.tabs__content
							.tabs__item.filter.c-tabs-content.c-filter-wrapper
								.filter__category.clearfix.c-fixed
									<!--Бренды-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#brands" title="")
										span.sprite.a34
										
									<!--Цена-->	
									a.filter__category-item.left.c-category.filter__category-item--pad1(href="#price" title="")
										span.sprite.a36
										
									<!--Регион-->	
									a.filter__category-item.filter__category-item--pad3.c-category(href="#region" title="")
										span.sprite.a39
										
									<!--Объём-->	
									a.filter__category-item.filter__category-item--pad1.c-category(href="#amount" title="")
										span.sprite.a35
										
									<!--Выдержка-->	
									a.filter__category-item.filter__category-item--pad1.c-category(href="#excerpt" title="")
										span.sprite.a33
									

									<!--Тип(виски)-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#type-whisky" title="")
										span.sprite.a37
									
									<!--Тип (вино)-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#type-cognac" title="")
										span.sprite.a40
										
									<!--Класс(коньяк)-->
									a.filter__category-item.filter__category-item--pad2.c-category(href="#class-cognac" title="")
										span.sprite.a41

									<!--Популярные категории-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#popular" title="")
										span.sprite.a42

									<!--Цвет-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#color" title="")
										span.sprite.a43

									<!--Содержание сахара-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#sugar" title="")
										span.sprite.a44
										
									<!--Тип напитка-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#type-drink" title="")
										span.sprite.a45
									
										
								form#filter-catalog.form.form--filter.c-filter(method="" action="ajax/catalog.html" data-url="ajax/filter.html")
									.accordion.c-accordion
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="brands")
												|Бренды
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_brands_id")
												ul
													li.filter__element.level-1
														input#brands1.check__input.check__filter-field(type="checkbox" value="brands1" name="brands")
														label.check__label(for="brands1")
															Аберлауэр
															span= " (21)"
														
													li.filter__element.level-1
														input#brands2.check__input.check__filter-field(type="checkbox" value="brands2" name="brands")
														label.check__label(for="brands2")= 'Аберфелди'
														
													li.filter__element.level-1
														input#brands3.check__input.check__filter-field(type="checkbox" value="brands3" name="brands")
														label.check__label(for="brands3")= 'Айл оф Джура'
														
													li.filter__element.level-1
														input#brands4.check__input.check__filter-field(type="checkbox" value="brands4" name="brands")
														label.check__label(for="brands4")= 'Антиквари'
														
													li.filter__element.level-1
														input#brands5.check__input.check__filter-field(type="checkbox" value="brands5" name="brands")
														label.check__label(for="brands5")= 'Ардбег'
														
													li.filter__element.level-1.hidden.c-filter-hidden
														input#brands6.check__input.check__filter-field(type="checkbox" value="brands6" name="brands")
														label.check__label(for="brands6")= 'Скрытый 1'

													li.filter__element.level-1.hidden.c-filter-hidden
														input#brands7.check__input.check__filter-field(type="checkbox" value="brands7" name="brands")
														label.check__label(for="brands7")= 'Скрытый 2'	
														
													li.filter__element
														a.filter__add-link.c-filter-add(href="" title="")
															span.plus= "+"
															span.minus= "-"
															|Ещё
											
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="price")
												|Цена
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.accordion__dropdown--price.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_price_id")
												ul
													li.filter__element.level-1
														input#price1.check__input.check__filter-range(type="checkbox" value="price1" name="price" data-from="0" data-to="100000")
														label.check__label(for="price1")
															|Любая цена
															
													li.filter__element.level-1
														input#price2.check__input.check__filter-range(type="checkbox" value="price2" name="price" data-from="0" data-to="1000")
														label.check__label(for="price2")= 'до 1000'
														
												.filter__input-wrap.clearfix
													input#minPrice.filter__input.c-minPrice.left(type="text")
													hr.filter__input-del.left
													input#maxPrice.filter__input.c-maxPrice.right(type="text")
												#price-slider.range(data-min="0" data-max="1000" data-min-limit="0.00" data-max-limit="1000")
											
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="region")
												|Регион
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_region_id")
												ul
													li.filter__element.level-1
														input#region1.check__input.check__filter-field(type="checkbox" value="region1" name="region")
														label.check__label(for="region1")
															Шотландия
															span= " (21)"
														
													li.filter__element.level-1
														input#region2.check__input.check__filter-field(type="checkbox" value="region2" name="region")
														label.check__label(for="region2")= 'Ирландия'
														
													li.filter__element.level-1
														a.filter__sub-expand(href="" title="" data-expand-id="")
															|[+]
														input#region3.check__input.check__filter-field.check__filter-field-parent(type="checkbox" value="region3" name="region")
														label.check__label(for="region3")= 'США'
														ul												
															li.filter__element.level-2.hidden
																input#region6.check__input.check__filter-field(type="checkbox" value="region6" name="region")
																label.check__label(for="region6")= 'Кентуки'

															li.filter__element.level-2.hidden
																input#region7.check__input.check__filter-field(type="checkbox" value="region7" name="region")
																label.check__label(for="region7")= ' Не Кентуки'
														
													li.filter__element.level-1
														input#region4.check__input.check__filter-field(type="checkbox" value="region4" name="region")
														label.check__label(for="region4")= 'Япония'
														
													li.filter__element.level-1.hidden.c-filter-hidden
														input#region5.check__input.check__filter-field(type="checkbox" value="region5" name="region5")
														label.check__label(for="region5")= 'Скрытый регион'
														
													li.filter__element
														a.filter__add-link.c-filter-add(href="" title="")
															span.plus= "+"
															span.minus= "-"
															|Ещё
										
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="amount")
												|Объём
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_amount_id")
												ul
													li.filter__element.level-1
														input#amount1.check__input.check__filter-field.check__filter-any-field(type="checkbox" value="amount1" name="amount")
														label.check__label(for="amount1")
															|Любой объём
															
													li.filter__element.level-1
														input#amount2.check__input.check__filter-field(type="checkbox" value="amount2" name="amount")
														label.check__label(for="amount2")= '1'
														
													li.filter__element.level-1
														input#amount3.check__input.check__filter-field(type="checkbox" value="amount3" name="amount")
														label.check__label(for="amount3")= '4.5'	
											
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="excerpt")
												|Выдержка
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_excerpt_id")

									.filter__min-block.filter__min-block--left.c-filter-section(data-filter-name="iblock_packaging_id")
										.check__wrap
											input#yes.check__input.check__filter-field(type="checkbox" value="yes" name="packaging")
											label.check__label.check__label--square(for="yes")= 'Подарочная упаковка'
										
									.filter__min-block.filter__min-block--right.c-filter-section(data-filter-name="iblock_shop_id")
										.check__wrap
											input#y.check__input.check__filter-field(type="checkbox" value="y" name="shop")
											label.check__label.check__label--square(for="y")= 'В магазине'
									
									.filter__btn-wrap.c-fixed
										input.filter__btn(type="submit" value="Применить")
										input.filter__btn.filter__btn--grey(type="reset" value="Очистить")
										
							.tabs__item.c-tabs-content
								form.form.form--sort(method="" action="")
									label.form__label
										|Сортировать
									button.btn-sort.right.c-sort-btn(type="button")
									select.c-select
										option= "Цена"
										option= "Страна"
										option= "Бренд"								
					ul.product_list.product_list--catalog.c-hidden
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Agricola San Felice Brunello di Montalcino Riserva DOCG Il Quercione Campogiovanni 2006
										.product-item__price
											|1 000 609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													| 3700 <i class="rubl">a</i>
													
										a.input-btn.added(href="" title="")= "В корзине"
						
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__action
										|%
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Адз. Агр. и Стефанини ди Тессари Франческо и Луиза
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
										
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Торрес Сангре де Торо Каталонияа 2013 Красное сухое + Торрес Винья Соль Каталония 2014 Белое сухое
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
					
						span.input-btn.input-btn--big= "Показать еще"
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade
