source/detail.jade
- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Виски"
						span.breadcrumbs__delimiter= "/"	
					li.breadcrumbs__item					
						|Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012
				
				h1.heading-big.heading-big--detail
					|Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012
					.heading-big__subtitle= "Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012"
				
				ul.product_list.product_list--detail
					li
						.product-item.product-item--wide.product-item--detail
							.product-item__info.clearfix
								.product-item__extra
									span.sprite.a31
									span.product-item__extra-description
										span.product-item__extra-count= "5000"
										br
										span.product-item__extra-text= "баллов"
								.product-item__img
									img(src="images/content/img1.jpg" alt="")
								.product-item__descr
									.product-item__vendor-code= "Артикул 05-983"									
									
									.product-item__price
										|3 609 <i class="rubl">a</i>
										.product-item__price-sale
											span
												| 3700 <i class="rubl">a</i>
									
									.product-item__btn-count
										a.product-item__btn.c-minus(href="" title="")
										input.product-item__count(type="number" value="1"  min="" max="" step="")
										a.product-item__btn.plus.c-plus(href="" title="")
									
									a.input-btn(href="" title="")= "В корзинy"	
				.action
					|Акция!
					br
					|Второй бокал в подарок
					
				.share-social
					span.share-social__text= "Поделиться"
					a.share-social__link.sprite.a21(href="" title="")
					a.share-social__link.sprite.a22(href="" title="")
					a.share-social__link.sprite.a23(href="" title="")
					a.share-social__link.sprite.a24(href="" title="")
					
				.tabs.tabs--simple.tabs--detail.c-tabs
					.tabs__head.clearfix
						a.tabs__link.left.c-tabs-link.active(href="" title="")
							span= "Характеристики"
							
						a.tabs__link.right.c-tabs-link(href="" title="")
							span= "Описание"
							
					.tabs__content
						.tabs__item.c-tabs-content.active
							p= "Код товара: 05-922"
							p= "Регион: Шотландия"
							p= "Объем: 0.7 л"
							p= "Крепость: 40"							
							p= "Выдержка: не менее 15 - 18 лет"
							p= "Упаковка: Подарочная"
						.tabs__item.c-tabs-content

				.tags
					span.sprite.a32
					span.tags__text= "Теги"
					a.tags__link(href="" title="")= "Шотландия"
					a.tags__link(href="" title="")= "0.7"
					
				h2.heading-lev2= "Рекомендуем"

				.infoblock					
					.product-wrapper
						ul.product_list.product_list--detail-carousel.c-product
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img1.jpg" alt="")
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text= "Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд"
										.product-item__price
											|1 000 609 <i class="rubl">a</i>											
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img4.jpg" alt="")
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text= "Бенриах Харт оф Спейсайд"
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img1.jpg" alt="")
										.product-item__vendor-code= "05-984"
										.product-item__title.c-limited-text= "Название товара"
										.product-item__price
											|1 000 609 <i class="rubl">a</i>
											
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade

static/detail.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>Alcodream</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
  </head>
  <body><!-- BEGIN pagewrap -->
    <div class="pagewrap"><!-- BEGIN header -->
      <header class="header clearfix">
        <div class="container">
          <div class="header__top"><a href="" title="" class="header__logo sprite a1"></a><span class="header__tel sprite a6 c-tel"></span><a href="" title="" class="header__menu c-popup-open"><span class="header__menu-icon sprite a5">		</span></a></div>
          <div class="header__bottom">
            <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-search"><span class="sprite a4"></span></a></div>
            <div class="header__time c-hidden-tel">+7 (495) 662-58-95
              <div class="working-hours">10:00 - 20:00</div>
            </div>
          </div>
          <div class="header__search c-hidden-search">
            <form method="" action="">
              <input type="text" placeholder="Например: Сутил" class="input">
            </form>
          </div>
        </div>
      </header><!-- END header --><!-- BEGIN content -->
      <div class="content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="" title="" class="breadcrumbs__link">Главная</a><span class="breadcrumbs__delimiter">/</span></li>
          <li class="breadcrumbs__item"><a href="" title="" class="breadcrumbs__link">Виски</a><span class="breadcrumbs__delimiter">/</span></li>
          <li class="breadcrumbs__item">
            					
            Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012
          </li>
        </ul>
        <h1 class="heading-big heading-big--detail">Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012
          <div class="heading-big__subtitle">Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012</div>
        </h1>
        <ul class="product_list product_list--detail">
          <li>
            <div class="product-item product-item--wide product-item--detail">
              <div class="product-item__info clearfix">
                <div class="product-item__extra"><span class="sprite a31"></span><span class="product-item__extra-description"><span class="product-item__extra-count">5000</span><br><span class="product-item__extra-text">баллов</span></span></div>
                <div class="product-item__img"><img src="images/content/img1.jpg" alt=""></div>
                <div class="product-item__descr">
                  <div class="product-item__vendor-code">Артикул 05-983</div>
                  <div class="product-item__price">3 609 <i class="rubl">a</i>
                    <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                  </div>
                  <div class="product-item__btn-count"><a href="" title="" class="product-item__btn c-minus"></a>
                    <input type="number" value="1" min="" max="" step="" class="product-item__count"><a href="" title="" class="product-item__btn plus c-plus"></a>
                  </div><a href="" title="" class="input-btn">В корзинy</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="action">Акция!<br>Второй бокал в подарок</div>
        <div class="share-social"><span class="share-social__text">Поделиться</span><a href="" title="" class="share-social__link sprite a21"></a><a href="" title="" class="share-social__link sprite a22"></a><a href="" title="" class="share-social__link sprite a23"></a><a href="" title="" class="share-social__link sprite a24"></a></div>
        <div class="tabs tabs--simple tabs--detail c-tabs">
          <div class="tabs__head clearfix"><a href="" title="" class="tabs__link left c-tabs-link active"><span>Характеристики</span></a><a href="" title="" class="tabs__link right c-tabs-link"><span>Описание</span></a></div>
          <div class="tabs__content">
            <div class="tabs__item c-tabs-content active">
              <p>Код товара: 05-922</p>
              <p>Регион: Шотландия</p>
              <p>Объем: 0.7 л</p>
              <p>Крепость: 40</p>
              <p>Выдержка: не менее 15 - 18 лет</p>
              <p>Упаковка: Подарочная</p>
            </div>
            <div class="tabs__item c-tabs-content"></div>
          </div>
        </div>
        <div class="tags"><span class="sprite a32"></span><span class="tags__text">Теги</span><a href="" title="" class="tags__link">Шотландия</a><a href="" title="" class="tags__link">0.7</a></div>
        <h2 class="heading-lev2">Рекомендуем</h2>
        <div class="infoblock">					
          <div class="product-wrapper">
            <ul class="product_list product_list--detail-carousel c-product">
              <li>
                <div class="product-item">
                  <div class="product-item__info">
                    <div class="product-item__img"><img src="images/content/img1.jpg" alt=""></div>
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text">Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд</div>
                    <div class="product-item__price">1 000 609 <i class="rubl">a</i>											</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-item">
                  <div class="product-item__info">
                    <div class="product-item__img"><img src="images/content/img4.jpg" alt=""></div>
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text">Бенриах Харт оф Спейсайд</div>
                    <div class="product-item__price">3609 <i class="rubl">a</i>
                      <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-item">
                  <div class="product-item__info">
                    <div class="product-item__img"><img src="images/content/img1.jpg" alt=""></div>
                    <div class="product-item__vendor-code">05-984</div>
                    <div class="product-item__title c-limited-text">Название товара</div>
                    <div class="product-item__price">1 000 609 <i class="rubl">a</i></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- END content -->
    </div><!-- END pagewrap -->	
    <div class="clear"></div><!-- BEGIN footer -->
    <footer class="footer c-hidden">
      <div class="footer__contacts">
        <div class="footer__tel"><span class="sprite a10"></span><span>+7 (495) 662-58-95</span></div>
        <div class="footer__mail"><a href="" title="">sales@alcodream.ru</a></div>
        <div class="social"><a href="" title="" class="social__item social__item--vk">
            <div class="sprite a11"></div></a><a href="" title="" class="social__item social__item--fb">
            <div class="sprite a15"></div></a></div><a href="" title="" class="bordered-link">Полная версия</a>
      </div>
      <div class="footer__bottom">
        2016
        ©
        Alcodream.ru- Магазин элитного алкоголя 
      </div>
    </footer>
    <div class="preloader c-preloader"></div><!-- BEGIN popup-->
    <div id="popup">
      <div class="header__bottom">
        <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-tel"><span class="sprite a6"></span></a><a class="header__menu header__menu--close c-popup-close"><span class="header__menu-icon sprite a14"></span></a></div>
        <div class="header__time c-hidden-tel">+7 (495) 662-58-95
          <div class="working-hours">10:00 - 20:00		</div>
        </div>
      </div>
      <nav class="navigation">
        <div class="navigation__levels c-popup-levels">
          <div class="navigation__level1">				
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Виски</a><span data-type="popup-whiskey" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Коньяк</a><span data-type="popup-cognac" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Шампаское</a><span data-type="popup-champagne" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Вино</a><span data-type="popup-wine" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Крепкие напитки</a><span data-type="popup-strong" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Другие напитки</a><span data-type="popup-other" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Аксессуары</a><span data-type="popup-accessories" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
          </div>
          <div class="navigation__level2 c-popup-bl-level2">
            <div class="navigation__link navigation__link--back c-popup-to-level1"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Виски</div>
              <div data-type="popup-whiskey-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-excerpt" class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-region" class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-type" class="navigation__link navigation__link--main c-popup-level2">Тип<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-price" class="navigation__link navigation__link--main c-popup-level2">Цена<span class="navigation__open-icon">
                  span.sprite.a7
                  </span></div>
            </div>
            <div id="popup-cognac" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Коньяк</div>
              <div data-type="popup-cognac-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-champagne" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Шампанское</div>
              <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-wine" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Вино</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-strong" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Крепкие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-other" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Другие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-accessories" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Аксессуары</div>
            </div>
          </div>
          <div class="navigation__level3 c-popup-bl-level3">
            <div class="navigation__link navigation__link--back c-popup-to-level2"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
            <div id="popup-whiskey-excerpt" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Выдержка</div><a href="" title="" class="navigation__link navigation__link--small">Выдержка1</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка2</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка3</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка4</a>
            </div>
            <div id="popup-whiskey-region" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Регион</div><a href="" title="" class="navigation__link navigation__link--small">1</a><a href="" title="" class="navigation__link navigation__link--small">2</a><a href="" title="" class="navigation__link navigation__link--small">3</a>
            </div>
            <div id="popup-whiskey-type" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Тип</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-whiskey-price" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Цена</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-cognac-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
          </div>
        </div><a href="" title="" class="navigation__link">Акции</a><a href="" title="" class="navigation__link">О магазине</a><a href="" title="" class="navigation__link">Условия работы</a><a href="" title="" class="navigation__link">Контакты</a>
      </nav>
    </div><!-- END popup-->
    <script src="./js/plugins.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/catalog.js"></script>
  </body>
</html>
