static/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>Alcodream</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
  </head>
  <body><!-- BEGIN pagewrap -->
    <div class="pagewrap"><!-- BEGIN header -->
      <header class="header clearfix">
        <div class="container">
          <div class="header__top"><a href="" title="" class="header__logo sprite a1"></a><span class="header__tel sprite a6 c-tel"></span><a href="" title="" class="header__menu c-popup-open"><span class="header__menu-icon sprite a5">		</span></a></div>
          <div class="header__bottom">
            <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-search"><span class="sprite a4"></span></a></div>
            <div class="header__time c-hidden-tel">+7 (495) 662-58-95
              <div class="working-hours">10:00 - 20:00</div>
            </div>
          </div>
          <div class="header__search c-hidden-search">
            <form method="" action="">
              <input type="text" placeholder="Например: Сутил" class="input">
            </form>
          </div>
        </div>
      </header><!-- END header --><!-- BEGIN content -->
      <div class="content">
        <div class="carousel c-carousel">
          <div class="carousel__item">
            <div class="carousel__heading">Летние скидки<br>до 40%</div>
            <div class="carousel__description">НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ</div><a href="" title="" class="input-btn">Подробнее</a>
          </div>
          <div class="carousel__item">
            <div class="carousel__heading">Летние скидки<br>до 30%</div>
            <div class="carousel__description">НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ</div><a href="" title="" class="input-btn">Подробнее</a>
          </div>
          <div class="carousel__item">
            <div class="carousel__heading">Летние скидки до 20%</div>
            <div class="carousel__description">НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ</div>
          </div>
        </div>
        <nav class="navigation">
          <div class="navigation__levels c-levels">
            <div class="navigation__level1">				
              <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Виски</a><span data-type="whiskey" class="navigation__open-icon c-level1"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Коньяк</a><span data-type="cognac" class="navigation__open-icon c-level1"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Шампаское</a><span data-type="champagne" class="navigation__open-icon c-level1"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Вино</a><span data-type="wine" class="navigation__open-icon c-level1"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Крепкие напитки</a><span data-type="strong" class="navigation__open-icon c-level1"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Другие напитки</a><span data-type="other" class="navigation__open-icon c-level1"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Аксессуары</a><span data-type="accessories" class="navigation__open-icon c-level1"><span class="sprite a7"></span></span></div>
            </div>
            <div class="navigation__level2 c-bl-level2">
              <div class="navigation__link navigation__link--back c-to-level1"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
              <div id="whiskey" class="hidden-block c-hidden-menu">
                <div class="navigation__link navigation__link--main active">Виски</div>
                <div data-type="whiskey-brands" class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
                <div data-type="whiskey-excerpt" class="navigation__link navigation__link--main c-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
                <div data-type="whiskey-region" class="navigation__link navigation__link--main c-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
                <div data-type="whiskey-type" class="navigation__link navigation__link--main c-level2">Тип<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
                <div data-type="whiskey-price" class="navigation__link navigation__link--main c-level2">Цена<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              </div>
              <div id="cognac" class="hidden-block c-hidden-menu">
                <div class="navigation__link navigation__link--main active">Коньяк</div>
                <div data-type="cognac-brands" class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
                <div class="navigation__link navigation__link--main c-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
                <div class="navigation__link navigation__link--main c-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              </div>
              <div id="champagne" class="hidden-block c-hidden-menu">
                <div class="navigation__link navigation__link--main active">Шампанское</div>
                <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              </div>
              <div id="wine" class="hidden-block c-hidden-menu">
                <div class="navigation__link navigation__link--main active">Вино</div>
                <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              </div>
              <div id="strong" class="hidden-block c-hidden-menu">
                <div class="navigation__link navigation__link--main active">Крепкие напитки</div>
                <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              </div>
              <div id="other" class="hidden-block c-hidden-menu">
                <div class="navigation__link navigation__link--main active">Другие напитки</div>
                <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              </div>
              <div id="accessories" class="hidden-block c-hidden-menu">
                <div class="navigation__link navigation__link--main active">Аксессуары</div>
              </div>
            </div>
            <div class="navigation__level3 c-bl-level3">
              <div class="navigation__link navigation__link--back c-to-level2"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
              <div id="whiskey-brands" class="hidden-block c-hidden-menu-l3">
                <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
              </div>
              <div id="whiskey-excerpt" class="hidden-block c-hidden-menu-l3">
                <div class="navigation__link navigation__link--main active">Выдержка</div><a href="" title="" class="navigation__link navigation__link--small">Выдержка1</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка2</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка3</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка4</a>
              </div>
              <div id="whiskey-region" class="hidden-block c-hidden-menu-l3">
                <div class="navigation__link navigation__link--main active">Регион</div><a href="" title="" class="navigation__link navigation__link--small">1</a><a href="" title="" class="navigation__link navigation__link--small">2</a><a href="" title="" class="navigation__link navigation__link--small">3</a>
              </div>
              <div id="whiskey-type" class="hidden-block c-hidden-menu-l3">
                <div class="navigation__link navigation__link--main active">Тип</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
              </div>
              <div id="whiskey-price" class="hidden-block c-hidden-menu-l3">
                <div class="navigation__link navigation__link--main active">Цена</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
              </div>
              <div id="cognac-brands" class="hidden-block c-hidden-menu-l3">
                <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
              </div>
            </div>
          </div><a href="" title="" class="navigation__link">Акции</a>
        </nav>
        <div class="deals">
          <div class="deals__heading">Будь в курсе спецпредложений</div>
          <form method="" action="">
            <input type="email" placeholder="Ваш email" data-validation="email" class="input">
            <input type="submit" value="Подписаться" class="input-btn">
          </form>
        </div>
        <div class="infoblock">
          <div class="infoblock__heading"><span class="heading">Хиты</span></div>
          <div class="product-wrapper">
            <ul class="product_list c-product">
              <li>
                <div class="product-item">
                  <div class="product-item__info">
                    <div class="product-item__img"><img src="images/content/img1.jpg" alt=""></div>
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text1">Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф СпейсайдБенриах Харт оф СпейсайдБенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд</div>
                    <div class="product-item__price">3609 <i class="rubl">a</i>
                      <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                    </div><a href="" title="" class="input-btn">В корзину</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-item">
                  <div class="product-item__info">
                    <div class="product-item__img"><img src="images/content/img4.jpg" alt=""></div>
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text1">Бенриах Харт оф Спейсайд</div>
                    <div class="product-item__price">3609 <i class="rubl">a</i>
                      <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                    </div><a href="" title="" class="input-btn">В корзину</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="product-item">
                  <div class="product-item__info">
                    <div class="product-item__img"><img src="images/content/img1.jpg" alt=""></div>
                    <div class="product-item__vendor-code">05-984</div>
                    <div class="product-item__title c-limited-text1">Название товара</div>
                    <div class="product-item__price">3609 <i class="rubl">a</i>
                      <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                    </div><a href="" title="" class="input-btn">В корзину</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="infoblock">
          <div class="infoblock__heading"><span class="heading">Новости</span></div>
          <div class="infoblock__item"><a href="" title="" class="absolute-link"></a>
            <div class="infoblock__img"><img src="images/content/img2.jpg" alt=""></div>
            <div class="infoblock__description">
              <div class="infoblock__date">16.10.2015</div>
              <div class="infoblock__text">Вкус Чили в отеле «Метрополь»</div>
            </div>
          </div>
          <div class="infoblock__link">		<a href="" title="" class="big-link">Показать все</a></div>
        </div>
        <div class="infoblock">
          <div class="infoblock__heading"><span class="heading">Статьи</span></div>
          <div class="infoblock__item"><a href="" title="" class="absolute-link"></a>
            <div class="infoblock__img"><img src="images/content/img3.jpg" alt=""></div>
            <div class="infoblock__description infoblock__description--white">
              <div class="infoblock__date">16.10.2015</div>
              <div class="infoblock__text">Wild Turkey: легендарный бурбон из Кентукки</div>
            </div>
          </div>
          <div class="infoblock__link">		<a href="" title="" class="big-link">Показать все</a></div>
        </div>
      </div><!-- END content -->
    </div><!-- END pagewrap -->	
    <div class="clear"></div><!-- BEGIN footer -->
    <footer class="footer c-hidden">
      <div class="footer__contacts">
        <div class="footer__tel"><span class="sprite a10"></span><span>+7 (495) 662-58-95</span></div>
        <div class="footer__mail"><a href="" title="">sales@alcodream.ru</a></div>
        <div class="social"><a href="" title="" class="social__item social__item--vk">
            <div class="sprite a11"></div></a><a href="" title="" class="social__item social__item--fb">
            <div class="sprite a15"></div></a></div><a href="" title="" class="bordered-link">Полная версия</a>
      </div>
      <div class="footer__bottom">
        2016
        ©
        Alcodream.ru- Магазин элитного алкоголя 
      </div>
    </footer>
    <div class="preloader c-preloader"></div><!-- BEGIN popup-->
    <div id="popup">
      <div class="header__bottom">
        <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-tel"><span class="sprite a6"></span></a><a class="header__menu header__menu--close c-popup-close"><span class="header__menu-icon sprite a14"></span></a></div>
        <div class="header__time c-hidden-tel">+7 (495) 662-58-95
          <div class="working-hours">10:00 - 20:00		</div>
        </div>
      </div>
      <nav class="navigation">
        <div class="navigation__levels c-popup-levels">
          <div class="navigation__level1">				
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Виски</a><span data-type="popup-whiskey" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Коньяк</a><span data-type="popup-cognac" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Шампаское</a><span data-type="popup-champagne" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Вино</a><span data-type="popup-wine" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Крепкие напитки</a><span data-type="popup-strong" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Другие напитки</a><span data-type="popup-other" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Аксессуары</a><span data-type="popup-accessories" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
          </div>
          <div class="navigation__level2 c-popup-bl-level2">
            <div class="navigation__link navigation__link--back c-popup-to-level1"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Виски</div>
              <div data-type="popup-whiskey-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-excerpt" class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-region" class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-type" class="navigation__link navigation__link--main c-popup-level2">Тип<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-price" class="navigation__link navigation__link--main c-popup-level2">Цена<span class="navigation__open-icon">
                  span.sprite.a7
                  </span></div>
            </div>
            <div id="popup-cognac" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Коньяк</div>
              <div data-type="popup-cognac-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-champagne" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Шампанское</div>
              <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-wine" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Вино</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-strong" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Крепкие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-other" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Другие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-accessories" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Аксессуары</div>
            </div>
          </div>
          <div class="navigation__level3 c-popup-bl-level3">
            <div class="navigation__link navigation__link--back c-popup-to-level2"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
            <div id="popup-whiskey-excerpt" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Выдержка</div><a href="" title="" class="navigation__link navigation__link--small">Выдержка1</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка2</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка3</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка4</a>
            </div>
            <div id="popup-whiskey-region" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Регион</div><a href="" title="" class="navigation__link navigation__link--small">1</a><a href="" title="" class="navigation__link navigation__link--small">2</a><a href="" title="" class="navigation__link navigation__link--small">3</a>
            </div>
            <div id="popup-whiskey-type" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Тип</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-whiskey-price" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Цена</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-cognac-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
          </div>
        </div><a href="" title="" class="navigation__link">Акции</a><a href="" title="" class="navigation__link">О магазине</a><a href="" title="" class="navigation__link">Условия работы</a><a href="" title="" class="navigation__link">Контакты</a>
      </nav>
    </div><!-- END popup-->
    <script src="./js/plugins.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/catalog.js"></script>
  </body>
</html>

source/index.jade
- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				.carousel.c-carousel
					.carousel__item
						.carousel__heading
							|Летние скидки
							br
							|до 40%
						.carousel__description= "НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ"
						a.input-btn(href="" title="")= "Подробнее"
					.carousel__item
						.carousel__heading
							|Летние скидки
							br
							|до 30%
						.carousel__description= "НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ"
						a.input-btn(href="" title="")= "Подробнее"
					.carousel__item
						.carousel__heading= "Летние скидки до 20%"
						.carousel__description= "НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ"
				
				nav.navigation
					.navigation__levels.c-levels
					
						.navigation__level1				
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Виски"
								span.navigation__open-icon.c-level1(data-type="whiskey")
									span.sprite.a7
							
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Коньяк"
								span.navigation__open-icon.c-level1(data-type="cognac")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Шампаское"
								span.navigation__open-icon.c-level1(data-type="champagne")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Вино"
								span.navigation__open-icon.c-level1(data-type="wine")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Крепкие напитки"
								span.navigation__open-icon.c-level1(data-type="strong")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Другие напитки"
								span.navigation__open-icon.c-level1(data-type="other")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Аксессуары"
								span.navigation__open-icon.c-level1(data-type="accessories")
									span.sprite.a7
									
						.navigation__level2.c-bl-level2
							.navigation__link.navigation__link--back.c-to-level1
								span.navigation__back.sprite.a13
								span.navigation__back.sprite.a13
								span.navigation__back-text= "Назад"
								
							#whiskey.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Виски
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-brands")
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
										
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-excerpt")
									|Выдержка
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-region")
									|Регион
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-type")
									|Тип
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-price")
									|Цена
									span.navigation__open-icon
										span.sprite.a7
							
							#cognac.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Коньяк
								.navigation__link.navigation__link--main.c-level2(data-type="cognac-brands")
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2
									|Выдержка
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2
									|Регион
									span.navigation__open-icon
										span.sprite.a7
							
							#champagne.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Шампанское
								.navigation__link.navigation__link--main.c-level2
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
							
							#wine.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Вино
								.navigation__link.navigation__link--main.c-level2
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
							
							#strong.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Крепкие напитки
								.navigation__link.navigation__link--main.c-level2
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
							
							#other.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Другие напитки
								.navigation__link.navigation__link--main.c-level2
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
									
							#accessories.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Аксессуары
										
								
						.navigation__level3.c-bl-level3
							.navigation__link.navigation__link--back.c-to-level2
								span.navigation__back.sprite.a13
								span.navigation__back.sprite.a13
								span.navigation__back-text= "Назад"
								
							#whiskey-brands.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Бренды
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд1"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд2"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд3"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд4"

							#whiskey-excerpt.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Выдержка
									a.navigation__link.navigation__link--small(href="" title="")= "Выдержка1"
									a.navigation__link.navigation__link--small(href="" title="")= "Выдержка2"
									a.navigation__link.navigation__link--small(href="" title="")= "Выдержка3"
									a.navigation__link.navigation__link--small(href="" title="")= "Выдержка4"		
							
							#whiskey-region.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Регион
									a.navigation__link.navigation__link--small(href="" title="")= "1"
									a.navigation__link.navigation__link--small(href="" title="")= "2"
									a.navigation__link.navigation__link--small(href="" title="")= "3"
									
							#whiskey-type.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Тип
									a.navigation__link.navigation__link--small(href="" title="")= "Тип1"
									a.navigation__link.navigation__link--small(href="" title="")= "Тип2"
									a.navigation__link.navigation__link--small(href="" title="")= "Тип3"
							
							#whiskey-price.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Цена
									a.navigation__link.navigation__link--small(href="" title="")= "Тип1"
									a.navigation__link.navigation__link--small(href="" title="")= "Тип2"
									a.navigation__link.navigation__link--small(href="" title="")= "Тип3"		
													
							#cognac-brands.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Бренды
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд1"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд2"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд3"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд4"	
					a.navigation__link(href="" title="")= "Акции"
					
				.deals
					.deals__heading= "Будь в курсе спецпредложений"
					form(method="" action="")
						input.input(type="email" placeholder="Ваш email" data-validation="email")
						input.input-btn(type="submit" value="Подписаться")
						
				.infoblock
					.infoblock__heading
						span.heading= "Хиты"
					.product-wrapper
						ul.product_list.c-product
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img1.jpg" alt="")
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text1= "Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф СпейсайдБенриах Харт оф СпейсайдБенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд"
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
							
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img4.jpg" alt="")
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text1= "Бенриах Харт оф Спейсайд"
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img1.jpg" alt="")
										.product-item__vendor-code= "05-984"
										.product-item__title.c-limited-text1= "Название товара"
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
							
				.infoblock
					.infoblock__heading
						span.heading= "Новости"
					.infoblock__item
						a.absolute-link(href="" title="")
						.infoblock__img
							img(src="images/content/img2.jpg" alt="")
						.infoblock__description
							.infoblock__date= "16.10.2015"
							
							.infoblock__text= "Вкус Чили в отеле «Метрополь»"
					.infoblock__link		
						a.big-link(href="" title="")= "Показать все"
						
				.infoblock
					.infoblock__heading
						span.heading= "Статьи"
					.infoblock__item
						a.absolute-link(href="" title="")
						.infoblock__img
							img(src="images/content/img3.jpg" alt="")
						.infoblock__description.infoblock__description--white
							.infoblock__date= "16.10.2015"							
							.infoblock__text= "Wild Turkey: легендарный бурбон из Кентукки"
					.infoblock__link		
						a.big-link(href="" title="")= "Показать все"		
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade
