static/lk-orders.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>Alcodream</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
  </head>
  <body><!-- BEGIN pagewrap -->
    <div class="pagewrap"><!-- BEGIN header -->
      <header class="header clearfix">
        <div class="container">
          <div class="header__top"><a href="" title="" class="header__logo sprite a1"></a><span class="header__tel sprite a6 c-tel"></span><a href="" title="" class="header__menu c-popup-open"><span class="header__menu-icon sprite a5">		</span></a></div>
          <div class="header__bottom">
            <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-search"><span class="sprite a4"></span></a></div>
            <div class="header__time c-hidden-tel">+7 (495) 662-58-95
              <div class="working-hours">10:00 - 20:00</div>
            </div>
          </div>
          <div class="header__search c-hidden-search">
            <form method="" action="">
              <input type="text" placeholder="Например: Сутил" class="input">
            </form>
          </div>
        </div>
      </header><!-- END header --><!-- BEGIN content -->
      <div class="content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="" title="" class="breadcrumbs__link">Главная</a><span class="breadcrumbs__delimiter">/</span></li>
          <li class="breadcrumbs__item"><a href="" title="" class="breadcrumbs__link">Личный кабинет</a><span class="breadcrumbs__delimiter">/</span></li>
          <li class="breadcrumbs__item">
            					
            Заказы
          </li>
        </ul>
        <h1 class="heading-big">Личный кабинет</h1>
        <div class="lk">
          <div class="lk__profile">
            <div class="clearfix"><a href="" title="" class="input-btn input-btn--lk left"><span class="input-btn__arrow"><span class="sprite a13"></span><span class="sprite a13"></span></span>Назад</a><a href="" title="" class="input-btn input-btn--lk right">Выход</a></div>
            <h2 class="heading-lev2">Заказы</h2>
            <div class="c-content-orders-wrap">
              <div class="tabs c-tabs tabs--wide">
                <div class="tabs__head clearfix c-fixed"><a href="" title="" class="tabs__link left c-tabs-link c-filter-catalog"><span class="filter-text">Фильтр</span><span class="filter-icon right sprite a16"></span></a>
                  <div href="" title="" class="tabs__link left c-tabs-link"><span class="sort-text">Сортировка</span><span class="sort-icon right sprite a17"></span></div>
                </div>
                <div class="tabs__content">
                  <div class="tabs__item filter c-tabs-content">
                    <form id="filter-orders" method="" action="ajax/orders.html" class="form form--reg">
                      <div class="form__element clearfix">
                        <label class="form__label form__label--block">Дата</label>
                        <input type="" name="" class="c-inputdate form__input form__input--small left">
                        <input type="" name="" class="c-inputdate form__input form__input--small right">
                      </div>
                      <div class="form__element">
                        <label class="form__label form__label--block">Статус заказа</label>
                        <select class="c-select">
                          <option>Все</option>
                          <option>Принят</option>
                          <option>Отменен</option>
                          <option>Завершен</option>
                        </select>
                      </div>
                      <div class="form__element">
                        <label class="form__label form__label--block">Сумма</label>
                        <div class="clearfix">
                          <input id="minPrice" type="text" class="filter__input c-minPrice left">
                          <hr class="filter__input-del left">
                          <input id="maxPrice" type="text" class="filter__input c-maxPrice right">
                        </div>
                        <div id="price-slider" data-min="0" data-max="1000" data-min-limit="0.00" data-max-limit="1000" class="range">												</div>
                      </div>
                      <div class="form__element form__element--center form__element--btn clearfix c-fixed">
                        <input type="submit" value="Применить" class="filter__btn left">
                        <input type="reset" value="Очистить" class="filter__btn filter__btn--grey right">
                      </div>
                    </form>
                  </div>
                  <div class="tabs__item c-tabs-content">
                    <form method="" action="" class="form form--sort">
                      <label class="form__label">Сортировать</label>
                      <button type="button" class="btn-sort right c-sort-btn"></button>
                      <select class="c-select">
                        <option>Номеру</option>
                        <option>Сумме</option>
                      </select>
                    </form>
                  </div>
                </div>
              </div>
              <div class="order order__wpap c-hidden">
                <div class="order__item open c-order">
                  <div class="order__infoblock order__infoblock--top"><a href="" title="" class="order__add-link sprite a46"></a>
                    <div class="order__title">ЗАКАЗ № 1 ОТ 22 Мая 2016</div>
                    <div class="order__description">4 товара на сумму 11 692 <i class="rubl">a</i></div>
                  </div>
                  <div class="order__infoblock order__status">Статус: Принят, ожидается оплата</div>
                  <div class="order__infoblock"><a href="" title="" class="order__icon-open active c-order-link"></a><span class="order__price">3 609  <i class="rubl">a</i></span><span class="order__count">(3 товара)</span>
                    <div class="order__info">
                      <input tupe="button" value="Отменить" class="input-btn">
                      <div class="order__element">
                        <div class="order__element-title">07-006<br>Андре Галлуа Брют</div>
                        <div class="order__element-count">1 шт</div>
                        <div class="order__element-price">2 221 <i class="rubl">a</i></div>
                      </div>
                      <div class="order__element">
                        <div class="order__element-title">07-006<br>Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа БрютАндре Галлуа БрютАндре Галлуа Брют</div>
                        <div class="order__element-count">100 шт</div>
                        <div class="order__element-price">1 000 609 <i class="rubl">a</i></div>
                      </div>
                      <div class="order__element">
                        <div class="order__element-title">07-006<br>Андре Галлуа Брют</div>
                        <div class="order__element-count">1 шт</div>
                        <div class="order__element-price">2 221 <i class="rubl">a</i></div>
                      </div>
                      <div class="order__info-text">Способ оплаты: Наличные<br>Способ доставки: Самовывоз</div>
                    </div>
                  </div>
                </div>
                <div class="order__item c-order">
                  <div class="order__infoblock order__infoblock--top"><a href="" title="" class="order__add-link sprite a46"></a>
                    <div class="order__title">ЗАКАЗ № 2 ОТ 22 Мая 2016</div>
                    <div class="order__description">4 товара на сумму 11 692 <i class="rubl">a</i></div>
                  </div>
                  <div class="order__infoblock order__status">Статус: Завершен</div>
                  <div class="order__infoblock"><a href="" title="" class="order__icon-open c-order-link"></a><span class="order__price">3 609  <i class="rubl">a</i></span><span class="order__count">(3 товара)</span>
                    <div class="order__info">
                      <!--input.input-btn(tupe="button" value="Отменить")										-->
                      <div class="order__element">
                        <div class="order__element-title">07-006<br>Андре Галлуа Брют</div>
                        <div class="order__element-count">1 шт</div>
                        <div class="order__element-price">2 221 <i class="rubl">a</i></div>
                      </div>
                      <div class="order__info-text">Способ оплаты: Наличные<br>Способ доставки: Самовывоз</div>
                    </div>
                  </div>
                </div>
                <div class="order__item c-order">
                  <div class="order__infoblock order__infoblock--top"><a href="" title="" class="order__add-link sprite a46"></a>
                    <div class="order__title">ЗАКАЗ № 1 ОТ 22 Мая 2016</div>
                    <div class="order__description">4 товара на сумму 11 692 <i class="rubl">a</i></div>
                  </div>
                  <div class="order__infoblock order__status">Статус: Отменен</div>
                  <div class="order__infoblock"><a href="" title="" class="order__icon-open c-order-link"></a><span class="order__price">1 000 609  <i class="rubl">a</i></span><span class="order__count">(3 товара)</span>
                    <div class="order__info">
                      <!--input.input-btn(tupe="button" value="Отменить")-->
                      <div class="order__element">
                        <div class="order__element-title">07-006<br>Андре Галлуа Брют</div>
                        <div class="order__element-count">1 шт</div>
                        <div class="order__element-price">2 221 <i class="rubl">a</i></div>
                      </div>
                      <div class="order__element">
                        <div class="order__element-title">07-006<br>Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа БрютАндре Галлуа БрютАндре Галлуа Брют</div>
                        <div class="order__element-count">100 шт</div>
                        <div class="order__element-price">1 000 609 <i class="rubl">a</i>												</div>
                      </div>
                      <div class="order__info-text">Способ оплаты: Наличные<br>Способ доставки: Самовывоз</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- END content -->
    </div><!-- END pagewrap -->	
    <div class="clear"></div><!-- BEGIN footer -->
    <footer class="footer c-hidden">
      <div class="footer__contacts">
        <div class="footer__tel"><span class="sprite a10"></span><span>+7 (495) 662-58-95</span></div>
        <div class="footer__mail"><a href="" title="">sales@alcodream.ru</a></div>
        <div class="social"><a href="" title="" class="social__item social__item--vk">
            <div class="sprite a11"></div></a><a href="" title="" class="social__item social__item--fb">
            <div class="sprite a15"></div></a></div><a href="" title="" class="bordered-link">Полная версия</a>
      </div>
      <div class="footer__bottom">
        2016
        ©
        Alcodream.ru- Магазин элитного алкоголя 
      </div>
    </footer>
    <div class="preloader c-preloader"></div><!-- BEGIN popup-->
    <div id="popup">
      <div class="header__bottom">
        <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-tel"><span class="sprite a6"></span></a><a class="header__menu header__menu--close c-popup-close"><span class="header__menu-icon sprite a14"></span></a></div>
        <div class="header__time c-hidden-tel">+7 (495) 662-58-95
          <div class="working-hours">10:00 - 20:00		</div>
        </div>
      </div>
      <nav class="navigation">
        <div class="navigation__levels c-popup-levels">
          <div class="navigation__level1">				
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Виски</a><span data-type="popup-whiskey" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Коньяк</a><span data-type="popup-cognac" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Шампаское</a><span data-type="popup-champagne" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Вино</a><span data-type="popup-wine" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Крепкие напитки</a><span data-type="popup-strong" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Другие напитки</a><span data-type="popup-other" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Аксессуары</a><span data-type="popup-accessories" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
          </div>
          <div class="navigation__level2 c-popup-bl-level2">
            <div class="navigation__link navigation__link--back c-popup-to-level1"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Виски</div>
              <div data-type="popup-whiskey-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-excerpt" class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-region" class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-type" class="navigation__link navigation__link--main c-popup-level2">Тип<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-price" class="navigation__link navigation__link--main c-popup-level2">Цена<span class="navigation__open-icon">
                  span.sprite.a7
                  </span></div>
            </div>
            <div id="popup-cognac" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Коньяк</div>
              <div data-type="popup-cognac-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-champagne" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Шампанское</div>
              <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-wine" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Вино</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-strong" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Крепкие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-other" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Другие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-accessories" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Аксессуары</div>
            </div>
          </div>
          <div class="navigation__level3 c-popup-bl-level3">
            <div class="navigation__link navigation__link--back c-popup-to-level2"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
            <div id="popup-whiskey-excerpt" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Выдержка</div><a href="" title="" class="navigation__link navigation__link--small">Выдержка1</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка2</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка3</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка4</a>
            </div>
            <div id="popup-whiskey-region" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Регион</div><a href="" title="" class="navigation__link navigation__link--small">1</a><a href="" title="" class="navigation__link navigation__link--small">2</a><a href="" title="" class="navigation__link navigation__link--small">3</a>
            </div>
            <div id="popup-whiskey-type" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Тип</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-whiskey-price" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Цена</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-cognac-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
          </div>
        </div><a href="" title="" class="navigation__link">Акции</a><a href="" title="" class="navigation__link">О магазине</a><a href="" title="" class="navigation__link">Условия работы</a><a href="" title="" class="navigation__link">Контакты</a>
      </nav>
    </div><!-- END popup-->
    <script src="./js/plugins.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/catalog.js"></script>
  </body>
</html>

source/lk-orders.jade
- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Личный кабинет"
						span.breadcrumbs__delimiter= "/"	
					li.breadcrumbs__item					
						|Заказы
				
				h1.heading-big
					|Личный кабинет
				
				.lk
					.lk__profile
						.clearfix
							a.input-btn.input-btn--lk.left(href="" title="")
								span.input-btn__arrow
									span.sprite.a13
									span.sprite.a13
								|Назад
							a.input-btn.input-btn--lk.right(href="" title="")= "Выход"
						
						h2.heading-lev2= "Заказы"
						
						.c-content-orders-wrap
							.tabs.c-tabs.tabs--wide
								.tabs__head.clearfix.c-fixed
									a.tabs__link.left.c-tabs-link.c-filter-catalog(href="" title="")
										span.filter-text= "Фильтр"
										span.filter-icon.right.sprite.a16
									.tabs__link.left.c-tabs-link(href="" title="")
										span.sort-text= "Сортировка"
										span.sort-icon.right.sprite.a17
								.tabs__content
									.tabs__item.filter.c-tabs-content
										form#filter-orders.form.form--reg(method="" action="ajax/orders.html")
											.form__element.clearfix
												label.form__label.form__label--block= "Дата"
												input.c-inputdate.form__input.form__input--small.left(type="" name="")
												input.c-inputdate.form__input.form__input--small.right(type="" name="")
												
											.form__element
												label.form__label.form__label--block= "Статус заказа"
												select.c-select
													option= "Все"
													option= "Принят"
													option= "Отменен"	
													option= "Завершен"
											
											.form__element
												label.form__label.form__label--block= "Сумма"
												.clearfix
													input#minPrice.filter__input.c-minPrice.left(type="text")
													hr.filter__input-del.left
													input#maxPrice.filter__input.c-maxPrice.right(type="text")
												#price-slider.range(data-min="0" data-max="1000" data-min-limit="0.00" data-max-limit="1000")												
												
											.form__element.form__element--center.form__element--btn.clearfix.c-fixed
												input.filter__btn.left(type="submit" value="Применить")
												input.filter__btn.filter__btn--grey.right(type="reset" value="Очистить")
											
									.tabs__item.c-tabs-content
										form.form.form--sort(method="" action="")
											label.form__label
												|Сортировать
											button.btn-sort.right.c-sort-btn(type="button")
											select.c-select
												option= "Номеру"
												option= "Сумме"													
							
							.order.order__wpap.c-hidden
								.order__item.open.c-order
									.order__infoblock.order__infoblock--top
										a.order__add-link.sprite.a46(href="" title="")
										.order__title= "ЗАКАЗ № 1 ОТ 22 Мая 2016"
										.order__description
											|4 товара на сумму 11 692 <i class="rubl">a</i>
										
									.order__infoblock.order__status
										|Статус: Принят, ожидается оплата
									.order__infoblock
										a.order__icon-open.active.c-order-link(href="" title="")
										span.order__price
											|3 609  <i class="rubl">a</i>
										span.order__count= "(3 товара)"
										.order__info
											input.input-btn(tupe="button" value="Отменить")
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют
												.order__element-count
													|1 шт
												.order__element-price
													|2 221 <i class="rubl">a</i>
													
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа БрютАндре Галлуа БрютАндре Галлуа Брют
												.order__element-count
													|100 шт
												.order__element-price
													|1 000 609 <i class="rubl">a</i>
													
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют
												.order__element-count
													|1 шт
												.order__element-price
													|2 221 <i class="rubl">a</i>
													
											.order__info-text
												|Способ оплаты: Наличные
												br
												|Способ доставки: Самовывоз
												
								.order__item.c-order
									.order__infoblock.order__infoblock--top
										a.order__add-link.sprite.a46(href="" title="")
										.order__title= "ЗАКАЗ № 2 ОТ 22 Мая 2016"
										.order__description
											|4 товара на сумму 11 692 <i class="rubl">a</i>
										
									.order__infoblock.order__status
										|Статус: Завершен
									.order__infoblock
										a.order__icon-open.c-order-link(href="" title="")
										span.order__price
											|3 609  <i class="rubl">a</i>
										span.order__count= "(3 товара)"
										.order__info
											//input.input-btn(tupe="button" value="Отменить")										
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют
												.order__element-count
													|1 шт
												.order__element-price
													|2 221 <i class="rubl">a</i>
													
											.order__info-text
												|Способ оплаты: Наличные
												br
												|Способ доставки: Самовывоз
												
													
								.order__item.c-order
									.order__infoblock.order__infoblock--top
										a.order__add-link.sprite.a46(href="" title="")
										.order__title= "ЗАКАЗ № 1 ОТ 22 Мая 2016"
										.order__description
											|4 товара на сумму 11 692 <i class="rubl">a</i>
										
									.order__infoblock.order__status
										|Статус: Отменен
									.order__infoblock
										a.order__icon-open.c-order-link(href="" title="")
										span.order__price
											|1 000 609  <i class="rubl">a</i>
										span.order__count= "(3 товара)"
										.order__info
											//input.input-btn(tupe="button" value="Отменить")
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют
												.order__element-count
													|1 шт
												.order__element-price
													|2 221 <i class="rubl">a</i>
													
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа БрютАндре Галлуа БрютАндре Галлуа Брют
												.order__element-count
													|100 шт
												.order__element-price
													|1 000 609 <i class="rubl">a</i>												

											.order__info-text
												|Способ оплаты: Наличные
												br
												|Способ доставки: Самовывоз
							
						
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade
