source/lk-profile.jade
- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Личный кабинет"
						span.breadcrumbs__delimiter= "/"	
					li.breadcrumbs__item					
						|Профиль пользователя
				
				h1.heading-big
					|Личный кабинет
				
				.lk
					.lk__profile
						.clearfix
							a.input-btn.input-btn--lk.left(href="" title="")
								span.input-btn__arrow
									span.sprite.a13
									span.sprite.a13
								|Назад
							a.input-btn.input-btn--lk.right(href="" title="")= "Выход"
						
						form.form.form--reg(method="" action="")
							.form__heading.form__element
									|Профиль пользователя
									
							.form__element
								label.form__label.form__label--block= "Имя"
								input.form__input(type="text" data-validation="required")
								
							.form__element
								label.form__label.form__label--block= "Фамилия"
								input.form__input(type="text" data-validation="required")
								
							.form__element
								label.form__label.form__label--block= "Отчество"
								input.form__input(type="text" data-validation="required")
								
							.form__element
								label.form__label.form__label--block= "Email"
								input.form__input(type="email"  data-validation="email" placeholder="Используется для входа в систему")
								
							
								.check__wrap.check__wrap--small
									input#yes.check__input(type="checkbox" value="receive-notification" name="receive-notification")
									label.check__label.check__label--square(for="yes")= "Хочу получать уведомления о скидках"
									
							.form__element
								label.form__label.form__label--block= "Контактный тедефон"
								span.form__number= "+7"
								input.form__input.form__input--phone-part1(type="text" data-validation="length number required" data-validation-length="3")
								input.form__input.form__input--phone-part2(type="text" data-validation="length number required" data-validation-length="8")
							
							
								.check__wrap.check__wrap--small
									input#yes-sms.check__input(type="checkbox" value="sms" name="sms")
									label.check__label.check__label--square(for="yes-sms")= "SMS информирование о статусах заказа(бесплатно)"
							
							.form__element
								label.form__label.form__label--block= "Второй телефон"
								span.form__number= "+7"
								input.form__input.form__input--phone-part1(type="text" data-validation="length number required" data-validation-length="3")
								input.form__input.form__input--phone-part2(type="text" data-validation="length number required" data-validation-length="8")
								
							.form__element
								label.form__label.form__label--block= "Дата рождения"
								input.c-inputdate.form__input.form__input--date(type="" data-validation="required")
								
							.form__element
								label.form__label.form__label--block= "Дисконтная карта"
								input.form__input(type="number")
								
							.form__element.form__element--center.form__element--marg1
								input.input-btn.input-btn--reg(type="submit" value="Сохранить изменения")
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade

static/lk-profile.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>Alcodream</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
  </head>
  <body><!-- BEGIN pagewrap -->
    <div class="pagewrap"><!-- BEGIN header -->
      <header class="header clearfix">
        <div class="container">
          <div class="header__top"><a href="" title="" class="header__logo sprite a1"></a><span class="header__tel sprite a6 c-tel"></span><a href="" title="" class="header__menu c-popup-open"><span class="header__menu-icon sprite a5">		</span></a></div>
          <div class="header__bottom">
            <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-search"><span class="sprite a4"></span></a></div>
            <div class="header__time c-hidden-tel">+7 (495) 662-58-95
              <div class="working-hours">10:00 - 20:00</div>
            </div>
          </div>
          <div class="header__search c-hidden-search">
            <form method="" action="">
              <input type="text" placeholder="Например: Сутил" class="input">
            </form>
          </div>
        </div>
      </header><!-- END header --><!-- BEGIN content -->
      <div class="content">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item"><a href="" title="" class="breadcrumbs__link">Главная</a><span class="breadcrumbs__delimiter">/</span></li>
          <li class="breadcrumbs__item"><a href="" title="" class="breadcrumbs__link">Личный кабинет</a><span class="breadcrumbs__delimiter">/</span></li>
          <li class="breadcrumbs__item">
            					
            Профиль пользователя
          </li>
        </ul>
        <h1 class="heading-big">Личный кабинет</h1>
        <div class="lk">
          <div class="lk__profile">
            <div class="clearfix"><a href="" title="" class="input-btn input-btn--lk left"><span class="input-btn__arrow"><span class="sprite a13"></span><span class="sprite a13"></span></span>Назад</a><a href="" title="" class="input-btn input-btn--lk right">Выход</a></div>
            <form method="" action="" class="form form--reg">
              <div class="form__heading form__element">Профиль пользователя</div>
              <div class="form__element">
                <label class="form__label form__label--block">Имя</label>
                <input type="text" data-validation="required" class="form__input">
              </div>
              <div class="form__element">
                <label class="form__label form__label--block">Фамилия</label>
                <input type="text" data-validation="required" class="form__input">
              </div>
              <div class="form__element">
                <label class="form__label form__label--block">Отчество</label>
                <input type="text" data-validation="required" class="form__input">
              </div>
              <div class="form__element">
                <label class="form__label form__label--block">Email</label>
                <input type="email" data-validation="email" placeholder="Используется для входа в систему" class="form__input">
                <div class="check__wrap check__wrap--small">
                  <input id="yes" type="checkbox" value="receive-notification" name="receive-notification" class="check__input">
                  <label for="yes" class="check__label check__label--square">Хочу получать уведомления о скидках</label>
                </div>
              </div>
              <div class="form__element">
                <label class="form__label form__label--block">Контактный тедефон</label><span class="form__number">+7</span>
                <input type="text" data-validation="length number required" data-validation-length="3" class="form__input form__input--phone-part1">
                <input type="text" data-validation="length number required" data-validation-length="8" class="form__input form__input--phone-part2">
                <div class="check__wrap check__wrap--small">
                  <input id="yes-sms" type="checkbox" value="sms" name="sms" class="check__input">
                  <label for="yes-sms" class="check__label check__label--square">SMS информирование о статусах заказа(бесплатно)</label>
                </div>
              </div>
              <div class="form__element">
                <label class="form__label form__label--block">Второй телефон</label><span class="form__number">+7</span>
                <input type="text" data-validation="length number required" data-validation-length="3" class="form__input form__input--phone-part1">
                <input type="text" data-validation="length number required" data-validation-length="8" class="form__input form__input--phone-part2">
              </div>
              <div class="form__element">
                <label class="form__label form__label--block">Дата рождения</label>
                <input type="" data-validation="required" class="c-inputdate form__input form__input--date">
              </div>
              <div class="form__element">
                <label class="form__label form__label--block">Дисконтная карта</label>
                <input type="number" class="form__input">
              </div>
              <div class="form__element form__element--center form__element--marg1">
                <input type="submit" value="Сохранить изменения" class="input-btn input-btn--reg">
              </div>
            </form>
          </div>
        </div>
      </div><!-- END content -->
    </div><!-- END pagewrap -->	
    <div class="clear"></div><!-- BEGIN footer -->
    <footer class="footer c-hidden">
      <div class="footer__contacts">
        <div class="footer__tel"><span class="sprite a10"></span><span>+7 (495) 662-58-95</span></div>
        <div class="footer__mail"><a href="" title="">sales@alcodream.ru</a></div>
        <div class="social"><a href="" title="" class="social__item social__item--vk">
            <div class="sprite a11"></div></a><a href="" title="" class="social__item social__item--fb">
            <div class="sprite a15"></div></a></div><a href="" title="" class="bordered-link">Полная версия</a>
      </div>
      <div class="footer__bottom">
        2016
        ©
        Alcodream.ru- Магазин элитного алкоголя 
      </div>
    </footer>
    <div class="preloader c-preloader"></div><!-- BEGIN popup-->
    <div id="popup">
      <div class="header__bottom">
        <div class="header__links"><a href="" title="" class="header__item"><span class="sprite a2"></span></a><a href="" title="" class="header__item"><span class="sprite a3"></span><span class="header__cart">20</span></a><a href="" title="" class="header__item c-tel"><span class="sprite a6"></span></a><a class="header__menu header__menu--close c-popup-close"><span class="header__menu-icon sprite a14"></span></a></div>
        <div class="header__time c-hidden-tel">+7 (495) 662-58-95
          <div class="working-hours">10:00 - 20:00		</div>
        </div>
      </div>
      <nav class="navigation">
        <div class="navigation__levels c-popup-levels">
          <div class="navigation__level1">				
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Виски</a><span data-type="popup-whiskey" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Коньяк</a><span data-type="popup-cognac" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Шампаское</a><span data-type="popup-champagne" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Вино</a><span data-type="popup-wine" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Крепкие напитки</a><span data-type="popup-strong" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Другие напитки</a><span data-type="popup-other" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
            <div class="navigation__link navigation__link--main"><a href="" title="" class="navigation__link-menu">Аксессуары</a><span data-type="popup-accessories" class="navigation__open-icon c-popup-level1"><span class="sprite a7"></span></span></div>
          </div>
          <div class="navigation__level2 c-popup-bl-level2">
            <div class="navigation__link navigation__link--back c-popup-to-level1"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Виски</div>
              <div data-type="popup-whiskey-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-excerpt" class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-region" class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-type" class="navigation__link navigation__link--main c-popup-level2">Тип<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div data-type="popup-whiskey-price" class="navigation__link navigation__link--main c-popup-level2">Цена<span class="navigation__open-icon">
                  span.sprite.a7
                  </span></div>
            </div>
            <div id="popup-cognac" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Коньяк</div>
              <div data-type="popup-cognac-brands" class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Выдержка<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
              <div class="navigation__link navigation__link--main c-popup-level2">Регион<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-champagne" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Шампанское</div>
              <div class="navigation__link navigation__link--main c-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-wine" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Вино</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-strong" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Крепкие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-other" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Другие напитки</div>
              <div class="navigation__link navigation__link--main c-popup-level2">Бренды<span class="navigation__open-icon"><span class="sprite a7"></span></span></div>
            </div>
            <div id="popup-accessories" class="hidden-block c-popup-hidden-menu">
              <div class="navigation__link navigation__link--main active">Аксессуары</div>
            </div>
          </div>
          <div class="navigation__level3 c-popup-bl-level3">
            <div class="navigation__link navigation__link--back c-popup-to-level2"><span class="navigation__back sprite a13"></span><span class="navigation__back sprite a13"></span><span class="navigation__back-text">Назад</span></div>
            <div id="popup-whiskey-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
            <div id="popup-whiskey-excerpt" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Выдержка</div><a href="" title="" class="navigation__link navigation__link--small">Выдержка1</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка2</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка3</a><a href="" title="" class="navigation__link navigation__link--small">Выдержка4</a>
            </div>
            <div id="popup-whiskey-region" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Регион</div><a href="" title="" class="navigation__link navigation__link--small">1</a><a href="" title="" class="navigation__link navigation__link--small">2</a><a href="" title="" class="navigation__link navigation__link--small">3</a>
            </div>
            <div id="popup-whiskey-type" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Тип</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-whiskey-price" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Цена</div><a href="" title="" class="navigation__link navigation__link--small">Тип1</a><a href="" title="" class="navigation__link navigation__link--small">Тип2</a><a href="" title="" class="navigation__link navigation__link--small">Тип3</a>
            </div>
            <div id="popup-cognac-brands" class="hidden-block c-popup-hidden-menu-l3">
              <div class="navigation__link navigation__link--main active">Бренды</div><a href="" title="" class="navigation__link navigation__link--small">Бренд1</a><a href="" title="" class="navigation__link navigation__link--small">Бренд2</a><a href="" title="" class="navigation__link navigation__link--small">Бренд3</a><a href="" title="" class="navigation__link navigation__link--small">Бренд4</a>
            </div>
          </div>
        </div><a href="" title="" class="navigation__link">Акции</a><a href="" title="" class="navigation__link">О магазине</a><a href="" title="" class="navigation__link">Условия работы</a><a href="" title="" class="navigation__link">Контакты</a>
      </nav>
    </div><!-- END popup-->
    <script src="./js/plugins.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/catalog.js"></script>
  </body>
</html>
